# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
# Virtualenv
venv/
.env
# Database
db.sqlite3
*.sqlite3
# Editor
.vscode/
.idea/
# Logs
*.log
# OS files
Thumbs.db
.DS_Store
venv_backup_20251102185702/
